@charset "utf-8";

/* ================================================
 * カラー
 * ============================================= */
// カラー設計
$color-accent : #F78A3B;
$color-bg: #312424;
$color-bg-accent : #F4ACB4;
$color-bg-footer : #312424;
$color-bg-black : #0d0d0d;
$color-font-normal : #0d0d0d;



