@charset "UTF-8";
/* CSS Document */
html {
  font-size: 62.5%;
  width: 100%;
  box-sizing: border-box;
}
body {
  color: #333; /* RGB */
  font-family:  'Noto Sans JP', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 2.4;
}
/* a:hover {
  opacity: 0.5;
} */



