@charset "UTF-8";
/* ================================================
 * メディアクエリ
 * ============================================= */
/* ================================================
 * 比率を保つ
 * ============================================= */
/* ================================================
 * カラー
 * ============================================= */
/* ================================================
 * フォント
 * ============================================= */
/* ================================================
 *  common
 * ============================================= */
.none {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

p {
  font-size: 16px;
  line-height: 3.2;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  p {
    font-size: 14px;
    line-height: 3;
  }
}

.pc {
  display: block;
}
@media only screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

.tablet {
  display: none;
}
@media only screen and (max-width: 768px) {
  .tablet {
    display: block;
  }
}

/* 1040px + 90px + 90px */
.wrapper1220 {
  max-width: 122rem;
  padding: 0 9rem;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .wrapper1220 {
    max-width: none;
    padding: 0 2.4rem;
    margin: 0 auto;
  }
}
html {
  font-size: 0.6944444444vw;
  -webkit-text-size-adjust: 100%;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 2.6666666667vw;
  }
}
html body {
  width: 100%;
  background-color: #ffffff;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #1e1e1e;
  text-align: left;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 768px) {
  html body {
    font-size: 1.4rem;
    line-height: 2;
  }
}

.header {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  z-index: 999;
  transition: all 0.5s;
  backdrop-filter: blur(20px) brightness(120%);
  -webkit-backdrop-filter: blur(20px) brightness(120%);
  box-shadow: 0px 0px 0px 0px #fff inset, 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 768px) {
  .header {
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}
.header.is-animation {
  height: 60px;
}
.header__logo {
  z-index: 1;
  width: 38rem;
  padding-left: 3rem;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .header__logo {
    background-image: none;
    width: 19.4rem;
  }
}
.header__logo-button {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.header__logo-button-title {
  height: 100%;
  width: 38rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  letter-spacing: 10px;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .header__logo-button-title {
    width: 19.4rem;
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
  }
}
.header__main {
  height: 100%;
}
.header__main-content {
  height: 100%;
}
.header__main-content-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url(../images/bg-black.png);
  background-size: contain;
}
.header__main-content-inner-items {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .header__main-content-inner-items {
    display: none;
  }
}
.header__main-content-inner-items .main-items__item {
  width: 11.1111111111vw;
  min-width: 88px;
  max-width: 160px;
  height: 100%;
  transition: all 0.3s;
  border-bottom: none;
}
.header__main-content-inner-items .main-items__item:hover {
  background-color: #039CFC;
  color: #ffffff;
  transition: all 0.3s;
}
.header__main-content-inner-items .main-items__item.pageActive {
  position: relative;
}
.header__main-content-inner-items .main-items__item.pageActive::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5.4166666667vw;
  background-color: #039CFC;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.header__main-content-inner-items .main-items__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 100%;
  height: 100%;
}
.header__main-content-inner-items .main-items__item div {
  display: inline-block;
  line-height: 24px;
  position: relative;
}
.header__main-content-inner-items .main-items__item div span {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #333, #333 1px, transparent 1px, transparent 3px);
  background-size: 3px 1px;
  background-repeat: repeat-x;
}
.header__main-content-inner-button {
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .header__main-content-inner-button {
    display: none;
  }
}
.header__main-content-inner-button a {
  height: 100%;
  background-color: #039CFC;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0px 26px;
  position: relative;
}
.header__main-content-inner-button img {
  width: 1.6666666667vw;
  min-width: 20px;
}
.header__fixed-button {
  display: none;
}
@media only screen and (max-width: 768px) {
  .header__fixed-button {
    position: fixed;
    bottom: 0.8rem;
    left: 0.6rem;
    right: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.8rem;
  }
  .header__fixed-button .button-bottom {
    width: calc(50% - 0.8rem);
    height: 5.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    justify-content: center;
    box-shadow: 0px 0px 0px 0px #fff inset, 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  }
  .header__fixed-button .button-bottom__image {
    display: block;
    width: 1.8rem;
    height: 1.8rem;
  }
  .header__fixed-button .button-bottom__text {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #ffffff;
  }
  .header__fixed-button .button-telephone {
    background-color: #44B8FF;
  }
  .header__fixed-button .button-mail {
    background-color: #039CFB;
  }
  .header__fixed-button .button-mail__image {
    width: 2rem;
    height: 2rem;
  }
}
.header__menu {
  display: none;
}
@media only screen and (max-width: 768px) {
  .header__menu {
    display: block;
    position: fixed;
    background-color: #039CFC;
    border: 0;
    top: 0;
    right: 0;
    color: #fff;
    cursor: pointer;
    height: 70px;
    transition: all 0.5s cubic-bezier(0.43, 0.05, 0.17, 1);
    width: 70px;
    z-index: 100;
    backface-visibility: hidden;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    text-transform: none;
  }
  .header__menu.active {
    z-index: 9999;
    height: 80px;
    width: 80px;
    bottom: 20px;
    right: 10px;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.43, 0.05, 0.17, 1);
  }
  .header__menu.active span {
    top: 50%;
    transform: translateY(-50%);
  }
  .header__menu.active span::after {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  .header__menu.active span i {
    opacity: 0;
  }
  .header__menu.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background: #fff;
    height: 2px;
    margin: auto;
    width: 20px;
    transform: rotate(45deg);
    opacity: 1;
  }
  .header__menu.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background: #fff;
    height: 2px;
    margin: auto;
    width: 20px;
    transform: rotate(-45deg);
    opacity: 1;
  }
}
.header__menu.is-animation {
  height: 60px;
  width: 60px;
}
.header__menu span {
  position: absolute;
  z-index: 11;
  display: flex;
  height: 27px;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  right: 0;
  text-align: center;
  transform: translate(-50%, -50%);
}
.header__menu span::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  color: #fff;
  display: block;
  font-size: 10px;
  font-weight: 500;
  opacity: 1;
  height: auto;
  width: 100%;
  transition: all 0.3s ease-out;
}
.header__menu span i {
  display: block;
  border-radius: 50%;
  background-color: #fff;
  height: 4px;
  width: 4px;
  transition: all 0.3s ease-out;
  margin: 2px 1px;
}
.header__menu::before {
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}
.header__menu::after {
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}
.header__gnav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  right: -100%;
  transition: right 0.5s cubic-bezier(0.43, 0.05, 0.17, 1);
  z-index: 200;
  width: calc(100% - 6rem);
  max-width: 400px;
}
.header__gnav.active {
  right: 0;
}
.header__gnav-inner {
  background: #252A36;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  visibility: visible;
  overflow-y: auto;
  margin-left: auto;
  opacity: 1;
}
.header__gnav-inner nav.gnav {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}
.header__gnav-inner nav.gnav .gnav__logo {
  border-bottom: 0.1rem solid #ffffff;
}
.header__gnav-inner nav.gnav .gnav__logo a {
  display: block;
  width: 19.4rem;
  font-size: 2.8rem;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 0.22rem;
  padding-top: 3.6rem;
  padding-bottom: 2.8rem;
}
.header__gnav-inner nav.gnav .gnav__nav {
  position: relative;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}
.header__gnav-inner nav.gnav .gnav__nav-title a {
  display: flex;
  align-items: center;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #1e1e1e;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.4rem;
  position: relative;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .header__gnav-inner nav.gnav .gnav__nav-title a {
    font-size: 1.4rem;
    line-height: 2;
  }
}
.header__gnav-inner nav.gnav .gnav__nav-title a::before {
  content: "";
  position: absolute;
  left: 0.12rem;
  top: 52%;
  transform: translateY(-50%);
  height: 1rem;
  width: 1rem;
  background-color: #ffffff;
  border-radius: 50%;
}
.header__gnav-inner nav.gnav .gnav__nav-contact {
  color: #ffffff;
  background-color: #414C65;
}
.header__gnav-bg {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: visibility 0.3s, opacity 0.3s;
  visibility: hidden;
  opacity: 0;
}
.header__gnav-bg.gnav-open {
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/* return to top */
#scroll-top {
  position: fixed;
  background-color: #039CFC;
  opacity: 1;
  bottom: 50px;
  padding: 20px 24px 16px;
  height: 64px;
  width: 64px;
  right: 42px;
  z-index: 100;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 0px 0px 0px 0px #fff inset, 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 768px) {
  #scroll-top {
    bottom: 100px;
    right: 10px;
    height: 50px;
    width: 50px;
  }
}
#scroll-top::after {
  position: absolute;
  content: "";
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  width: 16px;
  height: 16px;
  transform: rotate(-45deg);
  right: 23px;
  top: 28px;
}
@media only screen and (max-width: 768px) {
  #scroll-top::after {
    height: 10px;
    width: 10px;
    top: 22px;
    right: 19px;
  }
}
#scroll-top a {
  text-decoration: none;
  color: #fff;
}

.domain::before {
  content: "@";
}

.mv {
  width: 100%;
  height: 100vh;
  background-color: #039CFC;
  background-image: url(/assets/images/top/mv.jpeg);
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 768px) {
  .mv {
    height: calc(100vh - 80px);
  }
}
.mv__inner {
  background-color: rgba(70, 80, 87, 0.3);
  width: 100%;
  height: 100%;
  position: relative;
}
.mv__inner-title-main {
  color: #fff;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.8;
  text-align: left;
  padding-top: 21rem;
  padding-left: 5rem;
}
@media only screen and (max-width: 768px) {
  .mv__inner-title-main {
    font-size: 2.4rem;
    white-space: nowrap;
    padding-top: 30vh;
    padding-left: 2.4rem;
  }
}
.mv__inner-title-main span {
  border-bottom: 0.3rem solid #ffffff;
  display: inline;
}

.section-strengths {
  padding-top: 15.2rem;
  padding-bottom: 8rem;
  z-index: 1;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .section-strengths {
    padding-top: 0;
    padding-bottom: 12rem;
  }
}
.section-strengths .wrapper1220 li:nth-child(even) {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 768px) {
  .section-strengths .wrapper1220 li:nth-child(even) {
    flex-direction: column;
    margin-left: 0;
    width: calc(100% + 2.4rem);
    background-color: #F5F8FA;
  }
}
.section-strengths .wrapper1220 li:last-child {
  padding-bottom: 0;
}
@media only screen and (max-width: 768px) {
  .section-strengths .wrapper1220 li:last-child {
    padding-bottom: 2.4rem;
  }
}
.section-strengths__box {
  display: flex;
  flex-direction: row;
  padding-bottom: 6rem;
}
@media only screen and (max-width: 768px) {
  .section-strengths__box {
    flex-direction: column;
    margin-left: -2.4rem;
    background-color: #039CFC;
    margin-top: 10rem;
    padding-bottom: 2.4rem;
  }
}
.section-strengths__box-contents {
  background-color: #039CFC;
  height: 39rem;
  width: 70rem;
  z-index: 1;
  padding: 5.6rem 7rem 3.8rem 7rem;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .section-strengths__box-contents {
    height: auto;
    width: 100%;
    margin-left: 0;
    padding: 5.2rem 2.5rem 3rem 2.4rem;
  }
}
.section-strengths__box-contents.even {
  background-color: #F5F8FA;
  margin-left: -4rem;
}
@media only screen and (max-width: 768px) {
  .section-strengths__box-contents.even {
    padding-left: 0;
    margin-left: 0;
  }
}
.section-strengths__box-contents .numbering {
  position: absolute;
  font-size: 11rem;
  font-weight: 700;
  line-height: 1.6;
  color: #4DBBFF;
  top: 0.4rem;
  right: 2rem;
}
@media only screen and (max-width: 768px) {
  .section-strengths__box-contents .numbering {
    font-size: 11rem;
    z-index: -1;
    top: 0.4rem;
    right: 0;
    line-height: 1.5;
  }
}
.section-strengths__box-contents .numbering.even {
  color: #D3DDE3;
}
.section-strengths__box-contents h2 {
  font-size: 4.6rem;
  line-height: 1.4;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 800;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .section-strengths__box-contents h2 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 768px) {
  .section-strengths__box-contents h2 {
    padding-bottom: 2rem;
  }
}
.section-strengths__box-contents h2.even {
  color: #1e1e1e;
}
.section-strengths__box-contents p {
  font-size: 1.6rem;
  line-height: 2;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.1rem;
  padding-top: 2.4rem;
}
@media only screen and (max-width: 768px) {
  .section-strengths__box-contents p {
    font-size: 1.4rem;
    line-height: 2.2;
    letter-spacing: 0.1rem;
  }
}
.section-strengths__box-contents p.even {
  color: #1e1e1e;
}
.section-strengths__box-contents .head {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
  .section-strengths__box-contents .head {
    padding-bottom: 2.8rem;
  }
}
.section-strengths__box-contents .head__border {
  display: inline-block;
  height: 0.1rem;
  width: 5rem;
  background-color: #ffffff;
}
.section-strengths__box-contents .head__border.even {
  background-color: #039CFC;
}
.section-strengths__box-contents .head__title {
  display: inline-block;
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.16rem;
  line-height: 1.6;
}
.section-strengths__box-contents .head__title.even {
  color: #039CFC;
}
.section-strengths__box-image {
  height: 39rem;
  width: 39rem;
  margin-top: 4rem;
  margin-left: -4rem;
}
@media only screen and (max-width: 768px) {
  .section-strengths__box-image {
    margin-top: 0;
    margin-left: 2.4rem;
    height: 23.4rem;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .section-strengths__box-image img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.section-strengths__box-image.even {
  margin-left: 0;
}
@media only screen and (max-width: 768px) {
  .section-strengths__box-image.even {
    margin-left: -2.4rem;
    width: 100%;
    height: 23.4rem;
  }
}
.section-strengths__box-image.skill {
  background-image: url(../images/top/skill-test.jpg);
}
.section-strengths__box-image.deadline {
  background-image: url(../images/top/deadline-test.jpg);
}
.section-strengths__box-image.fixed-bg {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-achievement {
  padding-top: 8rem;
  padding-bottom: 5.6rem;
  background-color: #F5F8FA;
  overflow: hidden;
}
.section-achievement__inner .head {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
  .section-achievement__inner .head {
    padding-bottom: 2.8rem;
  }
}
.section-achievement__inner .head__border {
  display: inline-block;
  height: 1px;
  width: 5rem;
  background-color: #039CFC;
}
.section-achievement__inner .head__title {
  display: inline-block;
  font-size: 1.8rem;
  color: #039CFC;
  font-weight: 700;
  letter-spacing: 0.16rem;
  line-height: 1.6;
}
.section-achievement__inner h2 {
  font-size: 4.6rem;
  line-height: 1.4;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 800;
  color: #ffffff;
  color: #1e1e1e;
  padding-bottom: 2.4rem;
}
@media only screen and (max-width: 768px) {
  .section-achievement__inner h2 {
    font-size: 3rem;
  }
}
.section-achievement__inner-flex {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 5rem;
}
@media only screen and (max-width: 768px) {
  .section-achievement__inner-flex {
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 2.6rem;
  }
}
.section-achievement__inner-flex p {
  font-size: 1.6rem;
  line-height: 2;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #1e1e1e;
  max-width: 56rem;
}
@media only screen and (max-width: 768px) {
  .section-achievement__inner-flex p {
    font-size: 1.4rem;
    line-height: 2.2;
    letter-spacing: 0.1rem;
  }
}
.section-achievement__inner-flex .achievement-more {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.section-achievement__inner-flex .achievement-more:hover div {
  background-color: #ffffff;
  transition: all 0.3s;
}
.section-achievement__inner-flex .achievement-more:hover div::after {
  border-top: 0.4rem solid #039CFC;
  border-right: 0.4rem solid #039CFC;
  transition: all 0.3s;
}
.section-achievement__inner-flex .achievement-more p {
  display: inline-block;
}
.section-achievement__inner-flex .achievement-more div {
  display: inline-block;
  background-color: #039CFC;
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 100%;
  position: relative;
  box-shadow: 0 0 0 0 #fff inset, 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.section-achievement__inner-flex .achievement-more div::after {
  position: absolute;
  content: "";
  border-top: 0.4rem solid #fff;
  border-right: 0.4rem solid #fff;
  width: 1rem;
  height: 1rem;
  left: 32%;
  top: 56%;
  transform: rotate(45deg) translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
  .section-achievement__inner-flex .achievement-more div::after {
    height: 10px;
    width: 10px;
    top: 22px;
    right: 19px;
  }
}
.section-achievement__inner-image {
  display: flex;
  position: relative;
  margin-left: -24rem;
  margin-right: -24rem;
}
@media only screen and (max-width: 768px) {
  .section-achievement__inner-image {
    width: auto;
    margin-left: -18rem;
    margin-right: -18rem;
  }
}
.section-achievement__inner-image .image-item {
  border-radius: 0.4rem;
  overflow: hidden;
}
.section-achievement__inner-image .image-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-achievement__inner-image .swiper-wrapper {
  transition-timing-function: linear;
}

.section-voice {
  padding-top: 8rem;
  padding-bottom: 8.6rem;
  background-color: #ffffff;
}
.section-voice__inner .head {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
  .section-voice__inner .head {
    padding-bottom: 2.8rem;
  }
}
.section-voice__inner .head__border {
  display: inline-block;
  height: 0.1rem;
  width: 5rem;
  background-color: #039CFC;
}
@media only screen and (max-width: 768px) {
  .section-voice__inner .head__border {
    width: 5rem;
  }
}
.section-voice__inner .head__title {
  display: inline-block;
  font-size: 1.8rem;
  color: #039CFC;
  font-weight: 700;
  letter-spacing: 0.16rem;
  line-height: 1.6;
}
@media only screen and (max-width: 768px) {
  .section-voice__inner .head__title {
    font-size: 1.8rem;
    letter-spacing: 0.16rem;
  }
}
.section-voice__inner h2 {
  font-size: 4.6rem;
  line-height: 1.4;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 800;
  color: #ffffff;
  color: #1e1e1e;
  padding-bottom: 4rem;
}
@media only screen and (max-width: 768px) {
  .section-voice__inner h2 {
    font-size: 3rem;
  }
}
.section-voice__inner-flex {
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
  align-items: end;
}
@media only screen and (max-width: 768px) {
  .section-voice__inner-flex {
    flex-direction: column;
    align-items: flex-start;
    gap: 3.4rem;
  }
}
.section-voice__inner-flex .voice-image {
  width: 30rem;
  height: 20rem;
}
@media only screen and (max-width: 768px) {
  .section-voice__inner-flex .voice-image {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
  }
}
.section-voice__inner-flex .voice-message {
  font-size: 1.6rem;
  line-height: 2;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.1rem;
  font-weight: 500;
  color: #1e1e1e;
  list-style: inside;
}
@media only screen and (max-width: 768px) {
  .section-voice__inner-flex .voice-message {
    font-size: 1.4rem;
    line-height: 2.2;
    letter-spacing: 0.1rem;
  }
}
@media only screen and (max-width: 768px) {
  .section-voice__inner-flex p {
    font-size: 1.6rem;
    line-height: 2;
  }
}

.section-contact__contents {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .section-contact__contents {
    display: block;
    padding-top: 4rem;
    padding-bottom: 2.7rem;
    background-color: #0086D9;
  }
}
.section-contact__contents h2 {
  font-size: 4.6rem;
  line-height: 1.4;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 800;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .section-contact__contents h2 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 768px) {
  .section-contact__contents h2 {
    padding-bottom: 4.2rem;
  }
}
.section-contact__contents h3 {
  font-size: 2.4rem;
  line-height: 1.5;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 500;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .section-contact__contents h3 {
    font-size: 2rem;
  }
}
.section-contact__contents p {
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #1e1e1e;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .section-contact__contents p {
    font-size: 1.4rem;
    line-height: 2;
  }
}
.section-contact__contents .title {
  background-color: #0086D9;
  width: 56.6rem;
  height: 40.8rem;
}
@media only screen and (max-width: 768px) {
  .section-contact__contents .title {
    width: 100%;
    height: auto;
  }
}
.section-contact__contents .title__inner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .section-contact__contents .title__inner {
    margin-left: 2.4rem;
    width: auto;
  }
}
.section-contact__contents .title__inner .head {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 1rem;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .section-contact__contents .title__inner .head {
    padding-bottom: 1.6rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
}
.section-contact__contents .title__inner .head__border {
  display: inline-block;
  height: 0.1rem;
  width: 5rem;
  background-color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .section-contact__contents .title__inner .head__border {
    width: 3rem;
  }
}
.section-contact__contents .content {
  width: 87.4rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .section-contact__contents .content {
    width: calc(100% - 2.4rem);
    margin-left: 2.4rem;
  }
}
.section-contact__contents .content .mail {
  height: 50%;
  width: 100%;
  background-color: #039CFC;
  padding-left: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 2.4rem;
}
@media only screen and (max-width: 768px) {
  .section-contact__contents .content .mail h3 {
    padding-bottom: 1.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .section-contact__contents .content .mail {
    height: auto;
    padding-left: 2.2rem;
    padding-right: 4.4rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.section-contact__contents .content .mail .mail-button {
  display: inline-block;
  padding: 1.2rem 6rem 1.2rem 6.2rem;
  background-color: #ffffff;
  color: #039CFC;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 0.2rem;
  position: relative;
  margin-top: 1.8rem;
}
@media only screen and (max-width: 768px) {
  .section-contact__contents .content .mail .mail-button {
    font-size: 1.6rem;
    padding: 1.2rem 6rem 1.2rem 6.2rem;
    border-radius: 0.2rem;
    margin-top: 1.8rem;
  }
}
.section-contact__contents .content .mail .mail-button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.8rem;
  height: 1rem;
  width: 1rem;
  border-right: 0.3rem solid #039CFC;
  border-bottom: 0.3rem solid #039CFC;
  transform: translateY(-50%) rotate(-45deg);
}
@media only screen and (max-width: 768px) {
  .section-contact__contents .content .mail .mail-button::before {
    right: 1.8rem;
    height: 1rem;
    width: 1rem;
    border-right: 0.3rem solid #039CFC;
    border-bottom: 0.3rem solid #039CFC;
  }
}
.section-contact__contents .content .telephone {
  height: 50%;
  width: 100%;
  background-color: #45B8FF;
  padding-left: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 2.4rem;
}
@media only screen and (max-width: 768px) {
  .section-contact__contents .content .telephone {
    height: auto;
    padding-left: 2.2rem;
    padding-right: 4.4rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media only screen and (max-width: 768px) {
  .section-contact__contents .content .telephone h3 {
    padding-bottom: 1.2rem;
  }
}
.section-contact__contents .content .telephone p {
  font-size: 2rem;
  line-height: 1.5;
}
@media only screen and (max-width: 768px) {
  .section-contact__contents .content .telephone p {
    font-size: 2rem;
  }
}
.section-contact__contents .content .telephone-number {
  font-size: 4.2rem;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .section-contact__contents .content .telephone-number {
    font-size: 3.2rem;
  }
}
.section-contact.only-telephone {
  padding: 5.4rem 0;
  background-color: #45B8FF;
}
@media only screen and (max-width: 768px) {
  .section-contact.only-telephone {
    padding: 5rem 2.4rem;
  }
}
.section-contact.only-telephone .content .telephone {
  margin: 0 auto;
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .section-contact.only-telephone .content .telephone {
    margin: 0;
  }
}
.section-contact.only-telephone .content .telephone h2 {
  font-size: 2.4rem;
  line-height: 1.5;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 500;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .section-contact.only-telephone .content .telephone h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .section-contact.only-telephone .content .telephone h2 {
    padding-bottom: 1.2rem;
  }
}
.section-contact.only-telephone .content .telephone p {
  font-size: 2rem;
  line-height: 1.5;
}
@media only screen and (max-width: 768px) {
  .section-contact.only-telephone .content .telephone p {
    font-size: 2rem;
  }
}
.section-contact.only-telephone .content .telephone-number {
  font-size: 4.2rem;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .section-contact.only-telephone .content .telephone-number {
    font-size: 3.2rem;
  }
}
.section-contact.only-telephone .content .telephone-time {
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .section-contact.only-telephone .content .telephone-time {
    display: block;
    font-size: 2rem;
  }
}

.footer {
  background-color: #252A36;
  position: relative;
  color: #fff;
  padding-bottom: 4rem;
}
@media only screen and (max-width: 768px) {
  .footer {
    padding-bottom: 5.8rem;
  }
}
.footer__container {
  padding-top: 7rem;
}
@media only screen and (max-width: 768px) {
  .footer__container {
    padding-top: 7.6rem;
    padding-bottom: 6rem;
  }
}
.footer__container-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10.5rem;
}
@media only screen and (max-width: 768px) {
  .footer__container-box {
    flex-direction: column;
    padding-bottom: 0;
  }
}
.footer__container-box-company {
  width: 42rem;
}
@media only screen and (max-width: 768px) {
  .footer__container-box-company {
    width: 100%;
    max-width: 42rem;
  }
}
.footer__container-box-company-name {
  font-weight: 500;
  width: 37.7rem;
  height: auto;
  padding-bottom: 3rem;
}
@media only screen and (max-width: 768px) {
  .footer__container-box-company-name {
    width: 30.4rem;
    padding-bottom: 2.8rem;
  }
}
.footer__container-box-company-number {
  font-size: 1.4rem;
  line-height: 1.86;
}
@media only screen and (max-width: 768px) {
  .footer__container-box-company-number {
    padding-bottom: 6.6rem;
  }
}
.footer__container-box-anker {
  display: flex;
  gap: 0 3.8rem;
  padding-top: 0.4rem;
  align-items: baseline;
}
@media only screen and (max-width: 768px) {
  .footer__container-box-anker {
    flex-direction: column;
    gap: 2.6rem 0;
    padding-bottom: 13.4rem;
  }
}
.footer__container-box-anker-item {
  list-style: none;
}
.footer__container-box-anker-item a {
  display: block;
  display: flex;
  align-items: center;
}
.footer__container-box-anker-item img {
  width: 3rem;
  height: auto;
}
.footer__container-box-anker-item-circle {
  height: 1rem;
  width: 1rem;
  background-color: #ffffff;
  border-radius: 5rem;
  margin-right: 0.4rem;
}
@media only screen and (max-width: 768px) {
  .footer__container-box-anker-item-circle {
    height: 1rem;
    width: 1rem;
    margin-right: 0.6rem;
  }
}
.footer__container-box-anker-item-name {
  font-size: 1.4rem;
  line-height: 2.2;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 500;
  color: #ffffff;
  display: inline-block;
  word-break: keep-all;
}
@media only screen and (max-width: 768px) {
  .footer__container-box-anker-item-name {
    line-height: 2rem;
  }
}
.footer__container-information {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3.6rem;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ffffff;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .footer__container-information {
    border-top: 0.1rem solid #505050;
    padding-top: 3.4rem;
    flex-direction: column;
    text-align: left;
    gap: 1.6rem;
  }
}
.footer__container-information .copyRight {
  color: #B7B7B7;
}

.mv-page {
  width: 100%;
  height: 46.2rem;
  background-image: url(../images/top/mv.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 768px) {
  .mv-page {
    height: 37rem;
  }
}
.mv-page.mv-about {
  background-image: url(../images/about/mv-about.jpeg);
}
.mv-page.mv-recruitment {
  background-image: url(../images/recruit/mv-recruitment.jpeg);
}
.mv-page.mv-contactForm {
  background-image: url(../images/contact/mv-contact.jpeg);
  background-position-x: -27rem;
}
@media only screen and (max-width: 768px) {
  .mv-page.mv-contactForm {
    background-position-x: center;
  }
}
.mv-page__wrapper {
  background-color: rgba(70, 80, 87, 0.3);
  height: 100%;
}
.mv-page .wrapper1220 {
  width: 100%;
  height: 100%;
}
.mv-page__inner {
  position: relative;
  height: 100%;
  width: 100%;
}
.mv-page__inner-title {
  height: 100%;
}
.mv-page__inner-title-main {
  font-size: 5rem;
  line-height: 1.45;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  line-height: 1.4;
  padding-top: 22rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 768px) {
  .mv-page__inner-title-main {
    font-size: 2.4rem;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .mv-page__inner-title-main {
    font-size: 2.4rem;
    white-space: nowrap;
    padding-top: 0;
    position: relative;
    top: calc(2.8rem + 50%);
    transform: translateY(-50%);
  }
}
.mv-page__inner-title-main span {
  display: block;
  font-size: 2.4rem;
  line-height: 1.4;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.2rem;
  text-align: left;
  padding-top: 0.2rem;
  line-height: 1;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 768px) {
  .mv-page__inner-title-main span {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding-top: 0.1rem;
  }
}

.section-page {
  padding-top: 8rem;
  padding-bottom: 12rem;
}
@media only screen and (max-width: 768px) {
  .section-page {
    padding-top: 5rem;
    padding-bottom: 12rem;
  }
}

.section-about__inner h2, .section-recruitment__inner h2 {
  font-size: 5rem;
  line-height: 1.4;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 600;
  color: #1e1e1e;
  letter-spacing: 0.1rem;
  text-align: left;
  padding-bottom: 4rem;
}
@media only screen and (max-width: 768px) {
  .section-about__inner h2, .section-recruitment__inner h2 {
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }
}
@media only screen and (max-width: 768px) {
  .section-about__inner h2, .section-recruitment__inner h2 {
    padding-bottom: 2.4rem;
  }
}
.section-about__inner h3, .section-recruitment__inner h3 {
  font-size: 3rem;
  line-height: 1.6;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 600;
  color: #1e1e1e;
  letter-spacing: 0.1rem;
  padding-left: 2.8rem;
  margin-bottom: 2.2rem;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .section-about__inner h3, .section-recruitment__inner h3 {
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    padding-left: 2.2rem;
    margin-bottom: 2rem;
  }
}
.section-about__inner h3::before, .section-recruitment__inner h3::before {
  content: "";
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #039CFC;
  border-radius: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .section-about__inner h3::before, .section-recruitment__inner h3::before {
    width: 1.4rem;
    height: 1.4rem;
  }
}
.section-about__inner h4, .section-recruitment__inner h4 {
  padding-top: 1.8rem;
  padding-bottom: 3rem;
  font-size: 2rem;
  line-height: 1.5;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 600;
  color: #1e1e1e;
  letter-spacing: 0.1rem;
}
@media only screen and (max-width: 768px) {
  .section-about__inner h4, .section-recruitment__inner h4 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 768px) {
  .section-about__inner h4, .section-recruitment__inner h4 {
    padding-top: 0.2rem;
    padding-bottom: 1rem;
  }
}
.section-about__inner p, .section-recruitment__inner p {
  width: 44.2rem;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #1e1e1e;
  padding-bottom: 11rem;
}
@media only screen and (max-width: 768px) {
  .section-about__inner p, .section-recruitment__inner p {
    font-size: 1.4rem;
    line-height: 2;
  }
}
@media only screen and (max-width: 768px) {
  .section-about__inner p, .section-recruitment__inner p {
    width: auto;
    padding-bottom: 6rem;
  }
}
.section-about__inner-company, .section-recruitment__inner-company {
  padding-bottom: 7rem;
}
@media only screen and (max-width: 768px) {
  .section-about__inner-company, .section-recruitment__inner-company {
    padding-bottom: 6rem;
  }
}
.section-about__inner-company table, .section-recruitment__inner-company table {
  width: 100%;
}
.section-about__inner-company table:last-child, .section-recruitment__inner-company table:last-child {
  border-bottom: 0.1rem solid #DEE9EF;
}
.section-about__inner-company table tr, .section-recruitment__inner-company table tr {
  border-top: 0.1rem solid #DEE9EF;
}
.section-about__inner-company table tr th, .section-recruitment__inner-company table tr th {
  width: 12rem;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-left: 1.6rem;
  background-color: #F5F8FA;
  width: 14.3rem;
}
@media only screen and (max-width: 768px) {
  .section-about__inner-company table tr th, .section-recruitment__inner-company table tr th {
    font-size: 1.4rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-left: 1.4rem;
  }
}
.section-about__inner-company table tr td, .section-recruitment__inner-company table tr td {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding-left: 2rem;
}
@media only screen and (max-width: 768px) {
  .section-about__inner-company table tr td, .section-recruitment__inner-company table tr td {
    font-size: 1.4rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-left: 1.4rem;
  }
}
.section-about__inner-license div ul li, .section-recruitment__inner-license div ul li {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-left: 1.6rem;
  background-color: #F5F8FA;
  width: 14.3rem;
  width: 100%;
  list-style: none;
  background-color: initial;
  border-top: 0.1rem solid #DEE9EF;
  padding-left: 1.6rem;
}
@media only screen and (max-width: 768px) {
  .section-about__inner-license div ul li, .section-recruitment__inner-license div ul li {
    font-size: 1.4rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-left: 1.4rem;
  }
}
.section-about__inner-license div ul:last-child, .section-recruitment__inner-license div ul:last-child {
  border-bottom: 0.1rem solid #DEE9EF;
}

.section-privacy {
  background-color: #fff;
  padding-top: 22rem;
  padding-bottom: 8rem;
}
@media only screen and (max-width: 768px) {
  .section-privacy {
    padding-top: 16rem;
    padding-bottom: 2rem;
  }
}
.section-privacy__heading h1 {
  color: #1e1e1e;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding-bottom: 4rem;
}
@media only screen and (max-width: 768px) {
  .section-privacy__heading h1 {
    font-size: 2.4rem;
  }
}
.section-privacy__heading p {
  font-size: 1.6rem;
  line-height: 2;
  max-width: 88rem;
  padding-bottom: 16rem;
}
@media only screen and (max-width: 768px) {
  .section-privacy__heading p {
    font-size: 1.4rem;
    line-height: 2;
    letter-spacing: 0;
    padding-bottom: 10rem;
  }
}
.section-privacy__contents {
  max-width: 88rem;
  margin: 0 auto;
}
.section-privacy__contents-border {
  height: 0.3rem;
  width: 100%;
  background-color: #E9F2F8;
  position: relative;
}
.section-privacy__contents-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.3rem;
  width: 2rem;
  background-color: #039CFC;
}
.section-privacy__contents-item {
  padding-top: 7rem;
  padding-bottom: 9rem;
}
@media only screen and (max-width: 768px) {
  .section-privacy__contents-item {
    padding-top: 6rem;
    padding-bottom: 10rem;
  }
}
.section-privacy__contents-item h2 {
  font-size: 3rem;
  line-height: 1.3;
  padding-bottom: 3.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 768px) {
  .section-privacy__contents-item h2 {
    font-size: 2.4rem;
    padding-bottom: 4rem;
  }
}
.section-privacy__contents-item p {
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #1e1e1e;
  line-height: 2.2 !important;
  font-weight: 500;
  color: #676767;
}
@media only screen and (max-width: 768px) {
  .section-privacy__contents-item p {
    font-size: 1.4rem;
    line-height: 2;
  }
}

.mail-flow {
  padding-bottom: 6rem;
}
.mail-flow p {
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #1e1e1e;
  font-weight: 500;
  padding-bottom: 3rem;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .mail-flow p {
    font-size: 1.4rem;
    line-height: 2;
  }
}
@media only screen and (max-width: 768px) {
  .mail-flow p {
    text-align: left;
  }
}
.mail-flow__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.6rem;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .mail-flow__flex {
    gap: 3.3rem;
  }
}
.mail-flow__flex-step {
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mail-flow__flex-step.pageActive {
  color: #039CFC;
}
@media only screen and (max-width: 768px) {
  .mail-flow__flex-step {
    font-size: 2rem;
  }
}
.mail-flow__flex-arrow {
  border-top: 0.5rem solid #039CFC;
  border-right: 0.5rem solid #039CFC;
  width: 1.8rem;
  height: 1.8rem;
  transform: rotate(45deg);
}
@media only screen and (max-width: 768px) {
  .mail-flow__flex-arrow {
    width: 1.4rem;
    height: 1.4rem;
  }
}

.mail-form__container {
  max-width: 90rem;
  margin: 0 auto;
  padding-top: 3rem;
}
@media only screen and (max-width: 768px) {
  .mail-form__container {
    padding-top: 1rem;
  }
}
.mail-form__container form {
  display: block;
}
.mail-form__container form table {
  display: block;
  padding-bottom: 5rem;
}
.mail-form__container form tbody {
  display: block;
}
.mail-form__container form tr {
  display: block;
  border-top: solid 0.2rem #F0F0F0;
  padding: 4rem 0;
}
@media only screen and (max-width: 768px) {
  .mail-form__container form tr {
    padding: 3.4rem 0 4rem;
  }
}
.mail-form__container form tr.last-tr {
  padding-bottom: 3rem;
  border-bottom: solid 0.2rem #F0F0F0;
}
@media only screen and (max-width: 768px) {
  .mail-form__container form tr.last-tr {
    padding-bottom: 4rem;
  }
}
.mail-form__container form th {
  display: inline-block;
  max-width: 28rem;
  width: 100%;
  vertical-align: top;
  position: relative;
  font-size: 1.6rem;
  line-height: 1.6;
}
.mail-form__container form th::after {
  content: "必須";
  position: absolute;
  bottom: -2.6rem;
  left: 0px;
  padding: 0px 1.4rem 0.2rem;
  background-color: #EF0C0C;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6;
  border-radius: 0.2rem;
}
@media only screen and (max-width: 768px) {
  .mail-form__container form th::after {
    position: relative;
    bottom: 0;
    left: 0.8rem;
  }
}
.mail-form__container form th.none-required::after {
  display: none;
}
@media only screen and (max-width: 768px) {
  .mail-form__container form th {
    padding-bottom: 1rem;
  }
}
.mail-form__container form td {
  display: inline-block;
}
.mail-form__container form td input, .mail-form__container form td textarea {
  display: block;
  height: 5rem;
  width: 48rem;
  border: solid #C3CDD6 0.1rem;
  border-radius: 0.4rem;
  background-color: #FAFAFA;
  font-size: 1.6rem;
  padding-left: 2rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 768px) {
  .mail-form__container form td input, .mail-form__container form td textarea {
    max-width: 48rem;
    width: 100%;
    height: 4rem;
  }
}
.mail-form__container form td input::-moz-placeholder, .mail-form__container form td textarea::-moz-placeholder {
  color: #C3CDD6;
}
.mail-form__container form td input::placeholder, .mail-form__container form td textarea::placeholder {
  color: #C3CDD6;
}
.mail-form__container form td textarea {
  height: 16rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.mail-form__container form p {
  text-align: center;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #1e1e1e;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .mail-form__container form p {
    font-size: 1.4rem;
    line-height: 2;
  }
}
@media only screen and (max-width: 768px) {
  .mail-form__container form p {
    text-align: left;
  }
}
.mail-form__container form p a {
  color: #5D88DE;
  text-decoration: underline;
}
.mail-form__container form .mail-form__button {
  position: relative;
  max-width: 36rem;
  width: 100%;
  margin: 4.2rem auto 0;
}
.mail-form__container form .mail-form__button input {
  cursor: pointer;
  background-color: #1e1e1e;
  padding: 2rem 0;
  width: 100%;
  display: block;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #1e1e1e;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #fff;
  border: none;
}
@media only screen and (max-width: 768px) {
  .mail-form__container form .mail-form__button input {
    font-size: 1.4rem;
    line-height: 2;
  }
}
.mail-form__container form .mail-form__button::after {
  position: absolute;
  content: "";
  border-top: 0.3rem solid #fff;
  border-right: 0.3rem solid #fff;
  width: 1rem;
  height: 1rem;
  transform: rotate(45deg) translateY(-50%);
  right: 3rem;
  top: 49%;
}
@media only screen and (max-width: 768px) {
  .mail-form__container form .mail-form__button::after {
    height: 1rem;
    width: 1rem;
    top: 2.2rem;
    right: 1.9rem;
  }
}
@media only screen and (max-width: 768px) {
  .mail-form__container form th {
    display: block;
  }
  .mail-form__container form td {
    display: block;
  }
  .mail-form__container form textarea {
    display: block;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */