@charset "utf-8";


/* ================================================
 * メディアクエリ
 * ============================================= */
$media-smallPC: 1279px;
$media-tablet: 768px;
// $media-sp: 768px;
@mixin smallPC {
    @media only screen and (max-width: $media-smallPC ) {
      @content; 
    }
}
@mixin tablet {
    @media only screen and (max-width: $media-tablet) {
      @content;
    }
}
// @mixin sp {
//     @media only screen and (max-width: $media-sp) {
//       @content;
//     }
// }


/* ================================================
 * 比率を保つ
 * ============================================= */
$pcDesignSize: 1440;
$spDesignSize: 375;

@function vw( $size: 16 ) {
    $vw: $size * (100 / $pcDesignSize) + vw;
    @return $vw;
}
@function svw( $size: 16 ) {
    $svw: $size * (100 / $spDesignSize) + vw;
    @return $svw;
}




/* ================================================
 * カラー
 * ============================================= */
// カラー設計
$color-main : #039CFC;
$color-sub: #45B8FF;
$color-telephoneButton: #44B8FF;
$color-mainButton: #039CFB;
$color-asort : #0086D9;
$color-base : #252A36;
$color-bg : #F5F8FA;
$color-red : #EF0C0C;
$color-font-normal : #1e1e1e;
$color-numbering : #4DBBFF;
$color-strengths-number-even : #D3DDE3;
$color-white : #ffffff;
$color-font-copy : #B7B7B7;
$color-tableBorder : #DEE9EF;



/* ================================================
 * フォント
 * ============================================= */
// フォント設計
@mixin font-normal {
    font-family: 'Noto Sans JP', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    color: $color-font-normal;
    @include tablet() {
        font-size: 1.4rem;
        line-height: 1.8;
    }
}
@mixin font-topHeading {
    font-size: 4.6rem;
    line-height: 1.4;
    font-family: 'Noto Sans JP', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-weight: 800;
    color: #ffffff;
    @include tablet {
        font-size: 3.0rem;
    }
}
@mixin font-topParagraph {
    font-size: 1.6rem;
    line-height: 2.0;
    font-family: 'Noto Sans JP', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0.1rem;
    @include tablet() {
        font-size: 1.4rem;
        line-height: 2.2;
        letter-spacing: 0.1rem;
    }
}
@mixin font-normalFooter {
    font-size: 1.4rem;
    line-height: 2.2;
    font-family: 'Noto Sans JP', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-weight: 500;
    color: #ffffff;
    @include tablet() {
        line-height: 2.0rem;
    }
}
@mixin font-topContactH3 {
    font-size: 2.4rem;
    line-height: 1.5;
    font-family: 'Noto Sans JP', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-weight: 500;
    color: #ffffff;
    @include tablet {
        font-size: 2rem;
    }
}
@mixin font-pageTitle {
    font-size: 5rem;
    line-height: 1.45;
    font-family: 'Noto Sans JP', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-weight: 700;
    color: $color-white;
    text-align: left;
    @include tablet {
        font-size: 2.4rem;
        text-align: center;
    }
}
@mixin font-pageTitleSpan {
    font-size: 2.4rem;
    line-height: 1.4;
    font-family: 'Noto Sans JP', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-weight: 600;
    color: $color-white;
    letter-spacing: 0.2rem;
    text-align: left;
    padding-top: 0.2rem;
    @include tablet {
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        text-align: center;
        padding-top: 0.1rem;
    }
}
@mixin font-pageh2 {
    font-size: 5rem;
    line-height: 1.4;
    font-family: 'Noto Sans JP', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-weight: 600;
    color: $color-font-normal;
    letter-spacing: 0.1rem;
    text-align: left;
    @include tablet {
        font-size: 3rem;
        letter-spacing: 0.1rem;
    }
}
@mixin font-pageh3 {
    font-size: 3rem;
    line-height: 1.6;
    font-family: 'Noto Sans JP', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-weight: 600;
    color: $color-font-normal;
    letter-spacing: 0.1rem;
    padding-left: 2.8rem;
    margin-bottom: 2.2rem;
    @include tablet {
        font-size: 3rem;
        letter-spacing: 0.1rem;
        padding-left: 2.2rem;
        margin-bottom: 2rem;
    }
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 1.8rem;
        height: 1.8rem;
        background-color: $color-main;
        border-radius: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @include tablet() {
            width: 1.4rem;
            height: 1.4rem;
        }
    }
}
@mixin font-pageTableTh {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.2rem;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-left: 1.6rem;
    background-color: $color-bg;
    width: 14.3rem;
    @include tablet() {
        font-size: 1.4rem;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        padding-left: 1.4rem;
    }
}
@mixin font-pageTableTd {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.2rem;
    padding-left: 2rem;
    @include tablet() {
        font-size: 1.4rem;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        padding-left: 1.4rem;
    }
}





//画像
@mixin image-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin image-content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


// 横幅
@mixin width{
    max-width: 126rem;
}
@mixin width-2column-right{
    max-width: 89rem;
}
@mixin width-2column-left{
    max-width: 25.7rem;
}


/* ================================================
 *  common
 * ============================================= */
.none {
    display: none;
}
a {
text-decoration: none;
color: inherit;
cursor: pointer;
}
a:visited {
color: inherit;
}
img {
object-fit: cover;
width: 100%;
height: auto;
}
p {
font-size: 16px;
line-height: 3.2;
font-weight: 500;
@include tablet() {
    font-size: 14px;
    line-height: 3.0;
}
}
.pc {
    display: block;
    @include tablet {
        display: none;
    }
}
.tablet {
    display: none;
    @include tablet {
        display: block;
    }
}



/* 1040px + 90px + 90px */
.wrapper1220 {
    max-width:  122rem;
    padding: 0 9rem;
    margin: 0 auto;
}
@media screen and (max-width:768px) {
    .wrapper1220 {
        max-width: none;
        padding: 0 2.4rem;
        margin: 0 auto;
    }
}
  




//全体
html{
    // font-size: 62.5%; /* 16px * 62.5% = 10px */
    font-size: 0.694444444444444vw;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    @include tablet() {
        font-size: 2.666666666666667vw;
    }

    body{
        width: 100%;
        background-color: #ffffff;
        @include font-normal;
        text-align: left;
        box-sizing: border-box;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
}





//header
.header{
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    z-index: 999;
    transition: all .5s;
    backdrop-filter: blur(20px) brightness(120%);
    -webkit-backdrop-filter: blur(20px) brightness(120%);
    box-shadow: 0px 0px 0px 0px #fff inset, 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
    @include tablet() {
        background-color: rgba(255,255,255,0.95);
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
    &.is-animation {
        height: 60px;
    }
    &__logo {
        z-index: 1;
        width: 38rem;
        padding-left: 3rem;
        height: 100%;
        @include tablet() {
            background-image: none;
            width: 19.4rem;
        }
        &-button {
            display: inline-block;
            height: 100%;
            width: 100%;
            &-title {
                height: 100%;
                width: 38rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                letter-spacing: 10px;
                color: #fff;
                @include tablet() {
                    width: 19.4rem;
                    font-size: 1.8rem;
                    letter-spacing: 0.4rem;
                }
            }
        }
    }
    &__main {
        height: 100%;
        &-content {
            height: 100%;
            &-inner {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                background-image: url(../images/bg-black.png);
                background-size: contain;
                &-items {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $color-font-normal;
                    font-size: 16px;
                    font-weight: 700;
                    @include tablet() {
                        display: none;
                    }
                    .main-items__item {
                        width: vw(160);
                        min-width: 88px;
                        max-width: 160px;
                        height: 100%;
                        transition: all .3s;
                        border-bottom: none;
                        &:hover {
                            background-color: $color-main;
                            color: #ffffff;
                            transition: all .3s;
                        }
                        &.pageActive {
                            position: relative;
                            &::before {
                                content: "";
                                position: absolute;
                                height: 5px;
                                width: vw(78);
                                background-color: $color-main;
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 6px;
                            width: 100%;
                            height: 100%;
                        }
                        div {
                            display: inline-block;
                            line-height: 24px;
                            position: relative;
                            span {
                                position: absolute;
                                bottom: -4px;
                                left: 0;
                                right: 0;
                                width: 100%;
                                height: 1px;
                                background-image: -webkit-linear-gradient(left, #333, #333 1px, transparent 1px, transparent 3px);
                                background-image: linear-gradient(to right, #333, #333 1px, transparent 1px, transparent 3px);
                                background-size: 3px 1px;
                                background-repeat: repeat-x;
                            }
                        }
                    }
                }
                &-button {
                    height: 100%;
                    @include tablet() {
                        display: none;
                    }
                    a {
                        height: 100%;
                        background-color: $color-main;
                        font-size: 16px;
                        font-weight: 700;
                        color: #ffffff;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        padding: 0px 26px;
                        position: relative;
                    }
                    img {
                        width: vw(24);
                        min-width: 20px;
                    }
                }
            }
        }
    }
    &__fixed-button {
        display: none;
        @include tablet {
            position: fixed;
            bottom: 0.8rem;
            left: 0.6rem;
            right: 0.6rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 0.8rem;
            .button-bottom {
                width: calc(50% - 0.8rem);
                height: 5.8rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.4rem;
                justify-content: center;
                box-shadow: 0px 0px 0px 0px #fff inset, 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
                &__image {
                    display: block;
                    width: 1.8rem;
                    height: 1.8rem;
                }
                &__text {
                    font-size: 1.2rem;
                    line-height: 1.5;
                    color: $color-white;
                }
            }
            .button-telephone {
                background-color: $color-telephoneButton;
            }
            .button-mail {
                background-color: $color-mainButton;
                &__image {
                    width: 2.0rem;
                    height: 2.0rem;
                }
            }
        }
    }
    &__menu {
        display: none;
        @include tablet() {
            display: block;
            position: fixed;
            background-color: $color-main;
            border: 0;
            top: 0;
            right: 0;
            color: #fff;
            cursor: pointer;
            height: 70px;
            transition: all .5s cubic-bezier(.43,.05,.17,1);
            width: 70px;
            z-index: 100;
            backface-visibility: hidden;
            appearance: none;
            text-transform: none;
            &.active {
                z-index: 9999;
                height: 80px;
                width: 80px;
                bottom: 20px;
                right: 10px;
                border-radius: 50%;
                transition: all .5s cubic-bezier(.43,.05,.17,1);
                span {
                    top: 50%;
                    transform: translateY(-50%);
                    &::after {
                        opacity: 0;
                        transition: all .3s ease-out;
                    }
                    i {
                        opacity: 0;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    top: 0;
                    background: #fff;
                    height: 2px;
                    margin: auto;
                    width: 20px;
                    transform: rotate(45deg);
                    opacity: 1;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    top: 0;
                    background: #fff;
                    height: 2px;
                    margin: auto;
                    width: 20px;
                    transform: rotate(-45deg);
                    opacity: 1;
                }
            }
        }
        &.is-animation {
            height: 60px;
            width: 60px;
        }
        span {
            position: absolute;
            z-index: 11;
            display: flex;
            height: 27px;
            width: 100%;
            justify-content: center;
            align-items: center;
            top: 50%;
            left: 50%;
            right: 0;
            text-align: center;
            transform: translate(-50%, -50%);
            &::after {
                content: "";
                position: absolute;
                bottom: -8px;
                left: 0;
                color: #fff;
                display: block;
                font-size: 10px;
                font-weight: 500;
                opacity: 1;
                height: auto;
                width: 100%;
                transition: all .3s ease-out;
            }
            i {
                display: block;
                border-radius: 50%;
                background-color: #fff;
                height: 4px;
                width: 4px;
                transition: all .3s ease-out;
                margin: 2px 1px;
            }
        }
        &::before {
            opacity: 0;
            transition: visibility 0.3s, opacity 0.3s;
        }
        &::after {
            opacity: 0;
            transition: visibility 0.3s, opacity 0.3s;
        }
    }
    &__gnav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: auto;
        right: -100%;
        transition: right .5s cubic-bezier(.43,.05,.17,1);
        z-index: 200;
        width: calc(100% - 6rem);
        max-width: 400px;
        &.active {
            right: 0;
        }
        &-inner {
            background: $color-base;
            bottom: 0;
            left: 0;
            top: 0;
            right: 0;
            position: absolute;
            overflow: hidden;
            z-index: 1;
            visibility: visible;
            overflow-y: auto;
            margin-left: auto;
            opacity: 1;
            nav.gnav {
                margin-left: 2.4rem;
                margin-right: 2.4rem;
                .gnav {
                    &__logo {
                        border-bottom: 0.1rem solid $color-white;
                        a {
                            display: block;
                            width: 19.4rem;
                            font-size: 2.8rem;
                            line-height: 1.5;
                            color: #fff;
                            letter-spacing: 0.22rem;
                            padding-top: 3.6rem;
                            padding-bottom: 2.8rem;
                        }
                    }
                    &__nav {
                        position: relative;
                        padding-top: 1.4rem;
                        padding-bottom: 1.4rem;
                        &-title {
                            a {
                                display: flex;
                                align-items: center;
                                @include font-normal;
                                color: #fff;
                                padding-top: 1rem;
                                padding-bottom: 1rem;
                                padding-left: 2.4rem;
                                position: relative;
                                width: 100%;
                                &::before {
                                    content: "";
                                    position: absolute;
                                    left: 0.12rem;
                                    top: 52%;
                                    transform: translateY(-50%);
                                    height: 1rem;
                                    width: 1rem;
                                    background-color: $color-white;
                                    border-radius: 50%;
                                }
                            }
                        }
                        &-contact {

                        }
                    }
                }
            }
        }
        &-bg {
            background: rgba(0,0,0,0.5);
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            transition: visibility .3s,opacity .3s;
            visibility: hidden;
            opacity: 0;
            &.gnav-open {
                cursor: pointer;
                opacity: 1;
                pointer-events: auto;
                visibility: visible;
            }
        }
    }
}



/* return to top */
#scroll-top {
    position: fixed;
    background-color: $color-main;
    opacity: 1;
    bottom: 50px;
    padding: 20px 24px 16px;
    height: 64px;
    width: 64px;
    right: 42px;
    z-index: 100;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0px 0px 0px 0px #fff inset, 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
    @include tablet() {
        bottom: 100px;
        right: 10px;
        height: 50px;
        width: 50px;
    }
    &::after {
        position: absolute;
        content: "";
        border-top: 5px solid #fff;
        border-right: 5px solid #fff;
        width: 16px;
        height: 16px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: 23px;
        top: 28px;
        @include tablet{
            height: 10px;
            width: 10px;
            top: 22px;
            right: 19px;
        }
    }
    a {
        text-decoration: none;
        color: #fff;
    }
}
.domain::before{
    content: '@';
}




//ここから各個別ページ
//index.html
.mv {
    width: 100%;
    height: 100vh;
    background-color: $color-main;
    background-image: url(/assets/images/top/mv.jpeg);
    background-position: center;
    background-size: cover;
    @include tablet() {
        height: calc(100vh - 80px);
    }
    &__inner {
        background-color: rgba(70, 80, 87, 0.3);
        width: 100%;
        height: 100%;
        position: relative;
        &-title {
            &-main {
                color: #fff;
                font-size: 4.2rem;
                font-weight: 700;
                line-height: 1.8;
                text-align: left;
                padding-top: 21rem;
                padding-left: 5rem;
                @include tablet() {
                    font-size: 2.4rem;
                    white-space:nowrap;
                    padding-top: 30vh;
                    padding-left: 2.4rem;
                }
                span {
                    border-bottom: 0.3rem solid #ffffff;
                    display: inline;
                }
            }
        }
    }
}
.section-strengths {
    padding-top: 15.2rem;
    padding-bottom: 8rem;
    z-index: 1;
    position: relative;
    @include tablet() {
        padding-top: 0;
        padding-bottom: 12rem;
    }
    & .wrapper1220 li:nth-child(even){
        flex-direction: row-reverse;
        @include tablet() {
            flex-direction: column;
            margin-left: 0;
            width: calc(100% + 2.4rem);
            background-color: $color-bg;
        }
    }
    & .wrapper1220 li:last-child {
        padding-bottom: 0;
        @include tablet() {
            padding-bottom: 2.4rem;
        }
    }
    &__box {
        display: flex;
        flex-direction: row;
        padding-bottom: 6rem;
        @include tablet() {
            flex-direction: column;
            margin-left: -2.4rem;
            background-color: $color-main;
            margin-top: 10rem;
            padding-bottom: 2.4rem;
        }
        &-contents {
            background-color: $color-main;
            height: 39rem;
            width: 70rem;
            z-index: 1;
            padding: 5.6rem 7rem 3.8rem 7rem;
            position: relative;
            @include tablet() {
                height: auto;
                width: 100%;
                margin-left: 0;
                padding: 5.2rem 2.5rem 3rem 2.4rem;
            }
            &.even {
                background-color: $color-bg;
                margin-left: -4rem;
                @include tablet() {
                    padding-left: 0;
                    margin-left: 0;
                }
            }
            & .numbering {
                position: absolute;
                font-size: 11rem;
                font-weight: 700;
                line-height: 1.6;
                color: $color-numbering;
                top: 0.4rem;
                right: 2rem;
                @include tablet() {
                    font-size: 11rem;
                    z-index: -1;
                    top: 0.4rem;
                    right: 0;
                    line-height: 1.5;
                }
                &.even {
                    color: $color-strengths-number-even;
                }
            }
            & h2 {
                @include font-topHeading;
                @include tablet() {
                    padding-bottom: 2rem;
                }
                &.even {
                    color: $color-font-normal;
                }
            }
            & p {
                @include font-topParagraph;
                padding-top: 2.4rem;
                &.even {
                    color: $color-font-normal;
                }
            }
            & .head {
                display: flex;
                align-items: center;
                gap: 8px;
                padding-bottom: 1rem;
                @include tablet() {
                    padding-bottom: 2.8rem;
                }
                &__border {
                    display: inline-block;
                    height: 0.1rem;
                    width: 5rem;
                    background-color: #ffffff;
                    &.even {
                        background-color: $color-main;
                    }
                }
                &__title {
                    display: inline-block;
                    font-size: 1.8rem;
                    color: #ffffff;
                    font-weight: 700;
                    letter-spacing: 0.16rem;
                    line-height: 1.6;
                    &.even {
                        color: $color-main;
                    }
                }
            }
        }
        &-image {
            height: 39rem;
            width: 39rem;
            margin-top: 4rem;
            margin-left: -4rem;
            @include tablet() {
                margin-top: 0;
                margin-left: 2.4rem;
                height: 23.4rem;
                width: 100%;
            }
            img {
                @include tablet() {
                    height: 100%;
                    object-fit: cover;
                }
            }
            &.even {
                margin-left: 0;
                @include tablet() {
                    margin-left: -2.4rem;
                    width: 100%;
                    height: 23.4rem;
                }
            }
            &.skill {
                background-image: url(../images/top/skill-test.jpg);
            }
            &.deadline {
                background-image: url(../images/top/deadline-test.jpg);
            }
            &.fixed-bg {
                background-position: center top;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}
.section-achievement {
    padding-top: 8rem;
    padding-bottom: 5.6rem;
    background-color: $color-bg;
    &__inner {
        & .head {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            padding-bottom: 1rem;
            @include tablet() {
                padding-bottom: 2.8rem;
            }
            &__border {
                display: inline-block;
                height: 1px;
                width: 5rem;
                background-color: $color-main;
            }
            &__title {
                display: inline-block;
                font-size: 1.8rem;
                color: $color-main;
                font-weight: 700;
                letter-spacing: 0.16rem;
                line-height: 1.6;
            }
        }
        h2 {
            @include font-topHeading;
            color: $color-font-normal;
            padding-bottom: 2.4rem;
        }
        &-flex {
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding-bottom: 5rem;
            p {
                @include font-topParagraph;
                font-weight: 600;
                color: $color-font-normal;
                max-width: 56rem;
            }
            .achievement-more {
                display: flex;
                align-items: center;
                gap: 1.2rem;
                &:hover div {
                    background-color: $color-white;   
                    transition: all .3s;
                    &::after {
                        border-top: 0.4rem solid $color-main;
                        border-right: 0.4rem solid $color-main;
                        transition: all .3s
                    }
                }
                p {
                    display: inline-block;
                }
                div {
                    display: inline-block;
                    background-color: $color-main;
                    height: 3.8rem;
                    width: 3.8rem;
                    border-radius: 100%;
                    position: relative;
                    box-shadow: 0 0 0 0 #fff inset, 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
                    transition: all .3s;
                    &::after {
                        position: absolute;
                        content: "";
                        border-top: 0.4rem solid #fff;
                        border-right: 0.4rem solid #fff;
                        width: 1rem;
                        height: 1rem;
                        left: 32%;
                        top: 56%;
                        -webkit-transform: rotate(45deg) translate(-50%, -50%);
                        transform: rotate(45deg) translate(-50%, -50%);
                        @include tablet {
                            height: 10px;
                            width: 10px;
                            top: 22px;
                            right: 19px;
                        }
                    }
                }
            }
        }
        &-image {
            display: flex;
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            gap: vw(50);
            justify-content: center;
            .image-item {
                border-radius: vw(4);
                overflow: hidden;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
.section-voice {
    padding-top: vw(80);
    padding-bottom: vw(86);
    background-color: $color-white;
    &__inner {
        & .head {
            display: flex;
            align-items: center;
            gap: 8px;
            padding-bottom: vw(10);
            @include tablet() {
                padding-bottom: svw(28);
            }
            &__border {
                display: inline-block;
                height: 1px;
                width: vw(50);
                background-color: $color-main;
                @include tablet() {
                    width: svw(50);
                }
            }
            &__title {
                display: inline-block;
                font-size: vw(18);
                color: $color-main;
                font-weight: 700;
                letter-spacing: vw(1.6);
                line-height: 1.6;
                @include tablet() {
                    font-size: svw(18);
                    letter-spacing: svw(1.6);
                }
            }
        }
        h2 {
            @include font-topHeading;
            color: $color-font-normal;
            padding-bottom: vw(40);
        }
        &-flex {
            display: flex;
            justify-content:flex-start;
            gap: vw(50);
            align-items: end;
            .voice-image {
                width: vw(300);
                height: vw(200);
            }
            .voice-message {
                @include font-topParagraph;
                font-weight: 500;
                color: $color-font-normal;
                list-style: inside;
            }
        }
    }
}
.section-contact {
    &__contents {
        display: flex;
        @include tablet {
            display: block;
            padding-top: svw(40);
            padding-bottom: svw(27);
            background-color: $color-asort;
        }
        h2 {
            @include font-topHeading;
            @include tablet {
                padding-bottom: svw(42);
            }
        }
        h3 {
            @include font-topContactH3;
        }
        p {
            @include font-normal;
            color: #ffffff;
        }
        & .title {
            background-color: $color-asort;
            width: vw(566);
            height: vw(408);
            @include tablet {
                width: 100%;
                height: auto;
            }
            &__inner {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                width: max-content;
                margin-left: auto;
                margin-right: auto;
                height: 100%;
                @include tablet {
                    margin-left: svw(24);
                    width: auto;
                }
                & .head {
                    display: flex;
                    align-items: center;
                    gap: vw(8);
                    padding-bottom: vw(10);
                    color: #ffffff;
                    @include tablet {
                        padding-bottom: svw(16);
                        gap: svw(8);
                        font-size: svw(12);
                        letter-spacing: svw(1);
                    }
                    &__border {
                        display: inline-block;
                        height: vw(1);
                        width: vw(50);
                        background-color: #ffffff;
                        @include tablet() {
                            height: svw(1);
                            width: svw(30);
                        }
                    }
                }
            }
        }
        & .content {
            width: vw(874);
            display: flex;
            flex-direction: column;
            @include tablet() {
                width: calc(100% - svw(24));
                margin-left: svw(24);
            }
            & .mail {
                height: 50%;
                width: 100%;
                background-color: $color-main;
                padding-left: vw(24);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                font-size: vw(24);
                h3 {
                    @include tablet() {
                        padding-bottom: svw(12);
                    }
                }
                @include tablet() {
                    height: auto;
                    padding-left: svw(22);
                    padding-right: svw(44);
                    padding-top: svw(50);
                    padding-bottom: svw(50);
                }
                & .mail-button {
                    display: inline-block;
                    padding: vw(12) vw(60) vw(12) vw(62);
                    background-color: $color-white;
                    color: $color-main;
                    font-size: vw(16);
                    font-weight: 600;
                    line-height: 1.5;
                    border-radius: vw(2);
                    position: relative;
                    margin-top: vw(18);
                    @include tablet {
                        font-size: svw(16);
                        padding: svw(12) svw(60) svw(12) svw(62);
                        border-radius: svw(2);
                        margin-top: svw(18);
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: vw(18);
                        height: vw(10);
                        width: vw(10);
                        border-right: vw(3) solid $color-main;
                        border-bottom: vw(3) solid $color-main;
                        transform: translateY(-50%) rotate(-45deg);
                        @include tablet() {
                            right: svw(18);
                            height: svw(10);
                            width: svw(10);
                            border-right: svw(3) solid $color-main;
                            border-bottom: svw(3) solid $color-main;
                        }
                    }
                }
            }
            & .telephone {
                height: 50%;
                width: 100%;
                background-color: $color-sub;
                padding-left: vw(24);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                font-size: vw(24);
                @include tablet {
                    height: auto;
                    padding-left: svw(22);
                    padding-right: svw(44);
                    padding-top: svw(50);
                    padding-bottom: svw(50);
                }
                h3 {
                    @include tablet() {
                        padding-bottom: svw(12);
                    }
                }
                p {
                    font-size: vw(20);
                    line-height: 1.5;
                    @include tablet() {
                        font-size: svw(20);
                    }
                }
                &-number {
                    font-size: vw(42);
                    font-weight: 700;
                    @include tablet() {
                        font-size: svw(32);
                    }
                }
            }
        }
    }
}



.footer {
    background-color: $color-base;
    position: relative;
    color: #fff;
    padding-bottom: 4.0rem;
    @include tablet() {
        padding-bottom: 5.8rem;
    }
    &__container {
        padding-top: 7.0rem;
        @include tablet() {
            padding-top: 7.6rem;
            padding-bottom: 6.0rem;
        }
        &-box {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10.5rem;
            @include tablet {
                flex-direction: column;
                padding-bottom: 0;
            }
            &-company {
                width: 42rem;
                @include tablet() {
                    width: 100%;
                    max-width: 42rem;
                }
                &-name {
                    font-weight: 500;
                    width: 37.7rem;
                    height: auto;
                    padding-bottom: 3rem;
                    @include tablet() {
                        width: 30.4rem;
                        padding-bottom: 2.8rem;
                    }
                }
                &-number {
                    font-size: 1.4rem;
                    line-height: 1.86;
                    @include tablet {
                        padding-bottom: 6.6rem;
                    }
                }
            }
            &-anker {
                display: flex;
                gap: 0 3.8rem;
                padding-top: 0.4rem;
                align-items: baseline;
                @include tablet {
                    flex-direction: column;
                    gap: 2.6rem 0;
                    padding-bottom: 13.4rem;
                }
                &-item {
                    list-style: none;
                    a {
                        display: block;
                        display: flex;
                        align-items: center;
                    }
                    img {
                        width: 3.0rem;
                        height: auto;
                    }
                    &-circle {
                        height: 1rem;
                        width: 1rem;
                        background-color: $color-white;
                        border-radius: 5rem;
                        margin-right: 0.4rem;
                        @include tablet {
                            height: 1rem;
                            width: 1rem;
                            margin-right: 0.6rem;
                        }
                    }
                    &-name {
                        @include font-normalFooter;
                        display: inline-block;
                        word-break: keep-all;
                    }
                }
            }
        }
        &-information {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 3.6rem;
            font-size: 1.2rem;
            line-height: 1.5;
            color: $color-white;
            text-align: right;
            @include tablet() {
                border-top: 0.1rem solid #505050;
                padding-top: 3.4rem;
                flex-direction: column;
                text-align: left;
                gap: 1.6rem;
            }
            & .copyRight {
                color: $color-font-copy;
                }
        }
    }
}



//mv-page (common)
.mv-page {
    width: 100%;
    height: 46.2rem;
    background-image: url(../images/top/mv.jpeg);
    background-position: center;
    background-size: cover;
    @include tablet() {
        height: 37rem;
    }
    &.mv-about {
        background-image: url(../images/about/AdobeStock_309093696.jpeg);
    }
    &__wrapper {
        background-color: rgba(70, 80, 87, 0.3);
        height: 100%;
    }
    .wrapper1220 {
        width: 100%;
        height: 100%;
    }
    &__inner {
        position: relative;
        height: 100%;
        width: 100%;
        &-title {
            height: 100%;
            &-main {
                @include font-pageTitle;
                padding-top: 21rem;
                padding-left: 5rem;
                @include tablet() {
                    font-size: 2.4rem;
                    white-space:nowrap;
                    padding-top: 0;
                    padding-left: svw(0);
                    position: relative;
                    top: calc(6rem + 50%);
                    transform: translateY(-50%);
                }
                span {
                    display: block;
                    @include font-pageTitleSpan;
                }
            }
        }
    }
}



//section-page (common)
.section-page {
    padding-top: 8rem;
    padding-bottom: 12rem;
    @include tablet() {
        padding-top: 5rem;
        padding-bottom: 12rem;
    }
}


//about
.section-about {
    &__inner {
        h2 {
            @include font-pageh2;
            padding-bottom: 4rem;
        }
        h3 {
            @include font-pageh3;
        }
        p {
            width: 44.2rem;
            @include font-normal;
            padding-bottom: 11rem;
            @include tablet {
                width: auto;
                padding-bottom: 7.3rem;
            }
        }
        &-company {
            padding-bottom: 7rem;
            @include tablet {
                padding-bottom: 6rem;
            }
            table {
                width: 100%;
                &:last-child {
                    border-bottom: 0.1rem solid $color-tableBorder;
                }
                tr {
                    border-top: 0.1rem solid $color-tableBorder;
                    th {
                        width: 12rem;
                        @include font-pageTableTh;
                    }
                    td {
                        @include font-pageTableTd;
                    }
                }
            }
        }
        &-license {
            div {
                ul {
                    li {
                        @include font-pageTableTh;
                        width: 100%;
                        list-style: none;
                        background-color: initial;
                        border-top: 0.1rem solid $color-tableBorder;
                        padding-left: 1.6rem;
                    }
                    &:last-child {
                        border-bottom: 0.1rem solid $color-tableBorder;
                    }
                }
            }
        }
    }
}





//privacy
.section-privacy {
    background-color: #fff;
    padding-top: 220px;
    padding-bottom: 80px;
    @include tablet() {
        padding-top: 160px;
    }
    &__heading {
        h2 {
            color: $color-font-normal;
            font-size: 40px;
            font-weight: 600;
            letter-spacing: 1px;
            padding-bottom: 40px;
            @include tablet() {
                font-size: 24px;
            }
        }
        p {
            font-size: 16px;
            line-height: 32px;
            max-width: 880px;
            padding-bottom: 160px;
            @include tablet() {
                font-size: 14px;
                line-height: 30px;
                letter-spacing: 0;
                padding-bottom: 100px;
            }
        }
    }
    &__contents {
        max-width: 880px;
        margin: 0 auto;
        &-border {
            height: 3px;
            width: 100%;
            background-color: #E6E6E6;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 3px;
                width: 20px;
                background-color: $color-main;
            }
        }
        &-item {
            padding-top: 70px;
            padding-bottom: 90px;
            @include tablet() {
                padding-top: 50px;
            }
            h3 {
                font-size: 30px;
                line-height: 42px;
                padding-bottom: 40px;
                font-weight: 500;
                letter-spacing: 1px;
                @include tablet() {
                    font-size: 20px;
                    line-height: 36px;
                    padding-bottom: 40px;
                }
            }
            p {
                color: #676767;
                @include tablet() {
                    font-size: 14px;
                    line-height: 30px;
                }
            }
        }
    }
}